<strong>Olá, {{ organizer }}</strong>
<p>Houve uma nova inscrição em uma Meetup organizada por você:</p>
<p>
  <strong>Inscrito: </strong> {{ user }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />

</p>
